.login, h2{
    background-color: blueviolet;
    color: white;
    font-family: sans-serif;
}

form{
    background-color: chocolate!important;
    color: white;
}

body{
    background-color: green!important;
}